.Footer{
	display: flex;
	justify-content: center;
	flex-basis: 1vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 450;
	font-size: 10px;
	align-self: center;
}

.Footer a {
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
	margin-right: 5px;
}

.Footer a:visited{
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
}

.Footer a:hover{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #edf0ff;
	background: #edf0ff;
}